{% extends "base.html" %}

{% block title %} NewUser {% endblock title %}


{% block page_content %}
  <form method="post" class="form-inline" action="">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-success btn-circle btn-lg" name="button">Guardar</button>
    <a href="{% url 'home:list' %} " class="btn btn-circle btn-warning btn-lg">Atras</a>
  </form>
{% endblock page_content %}
