{% extends "base.html" %}

{% block title %}New User{% endblock title%}

{% block page_content %}
  <form class="form-group" action="" method="post">
    {% csrf_token %}
    {{ form }}

    <button class="form-control btn  btn-outline-primary" type="submit" name="save">Guardar</button>
    <button class="form-control btn  btn-outline-warning" type="reset" name="cancel">Cancelar</button>
  </form>
{% endblock page_content%}
