{% extends "base.html" %}

{% block title %}Obra List{% endblock title %}

{% block page_content %}


<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Obra</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Actions:</div>
        <a class="dropdown-item" onclick="return open_modal('{% url 'pinturas:new_obra' %}')" href="#"><i class="far fa-calendar-plus"></i>NuevaObra</a>
        <a class="dropdown-item" href="#"></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"></a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not obj %}
      <h3> No hay obras disponibles!! </h3>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <th> Codigo </th>
          <th> Obra </th>
          <th> Status </th>
          <th> Museo </th>
          <th> Artista </th>
          <th> Estilo-Era </th>
          <th class="all"> Acciones </th>
        </thead>
        <tbody>
          {% for item in obj %}
             <tr>
               <td> {{ item.code }} </td>
               <td>{{ item.description }}</td>
               <td>{{ item.status|yesno:"Active, Inactive" }}</td>
               <td> {{ item.museo }} </td>
               <td> {{ item.artista }} </td>
               <td> {{ item.era }} </td>
               <th>
                 <button type="button" onclick="return open_modal('{% url 'pinturas:update_obra' item.pk %}')" class="btn btn-warning btn-circle" name="button">
                   <i class="far fa-edit"></i>
                 </button>

               </th>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>



{% endblock page_content %}

{% block js_scripts %}
  <script type="text/javascript">
    // Call the DataTable JQuery plugin//
    $(document).ready(function(){
      $('.table').DataTable();
    });
  </script>>
{% endblock js_scripts %}
